

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    size: 100px;
    text-transform: uppercase;
    height: 100px;
    width: 100px;
    border:solid black;
    /* margin-left: 3px;
    margin-top: 3px; */
}